.github/**
.vscode/**
.vscode-test/**
build/**
out/test/**
out/**/*.map
out/**/*.stats.json
out/**/*..analyzer.html
src/**
temp/**
.gitignore
node_modules
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig-base.json
**/.gitignore
**/.editorconfig
**/.eslintrc.json
**/.prettierrc.js
**/*.ts
**/*.stats.json
**/*.analyzer.html
**/*.bundle.js.map
