.github/**
.vscode/**
.vscode-test/**
build/**
out/test/**
out/**/*.stats.json
out/**/*..analyzer.html
src/**
resources/scripts/tfjs/**
temp/**
.gitignore
!resources/scripts/node_modules/**
node_modules/**
vsc-extension-quickstart.md
**/*.js.map
**/tsconfig.json
**/tsconfig-base.json
**/.gitignore
**/.editorconfig
**/.eslintrc.json
**/.prettierrc.js
**/*.ts
**/*.stats.json
**/*.analyzer.html
**/*.bundle.js.map
